:root {
    --pink: #ffc3c3;
    --green: #719686;
    --dark: #400903;
    --gold: #c2911d;
}
body {
    font-family: 'Amita', cursive;
    font-family: 'Josefin Sans', 'Montserrat', sans-serif;
    background-color: var(--pink);
    color: white;
    min-height: 100vh;
}
.cute-box {
    border: solid .5rem white;
    border-radius: .5rem;
}
/*|| nav stuff*/
.overlay /*background*/{
    width: 0;
    height: max-content;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    overflow-x: hidden; /*disable hidden scroll*/
    transition: 0.5s; /*.5 second transition effect to slide in the overlay (h or w depending on reveal)*/

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.overlay--content {
    /* position: relative;
    top: 25%;
    width: 100%;
    text-align: left;
    margin-top: 30px; for small screens */

}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 6vw;
    color: white;
    display: block;
    transition: .3s;
}
.overlay a:hover,
.overlay a:focus {
    color: var(--pink);
    font-size: 5vw;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    font-size: 60px;
} 
.svg--box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 200px;
    box-sizing: content-box;
    background-color: rgba(0,0,0,.5);
    transition: .5s;
    border: solid .2em white;

}
.svg--box:hover{
    width: 250px;
}
svg {
    margin: 10px;
    position: absolute;
    height: 150px;
}

#navBox {
    box-sizing: border-box;
    width: 150px;
    height: 100vh;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}

.menuBtn {
    cursor: pointer;
    background: none;
    border: none;
    box-sizing: border-box;
    transition: .5s;
    position: absolute;
    width: 250px;
    height: 250px;

    z-index: 1;
}

/* || main page */
.homeBody {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-gap: 3rem;
    height: 100vh;
}

.homeLogo {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem;
    font-weight: 100;
}


/* || link navs should be aligned left line of grid*/
.homeBody--link {
    font-size: 7vw; /* this is made larger in hover menu below */
    font-style: italic;
    text-decoration: none;
    transition: .5s;
    color: white;
    padding: 1rem;
    grid-column: 2 / 4;
    align-self: center;
    justify-self: center;
}
.homeBody--link:nth-of-type(1) {
    grid-row: 1 / 2;
}
.homeBody--link:nth-of-type(2)  {
    grid-row: 2 / 3;
}
.homeBody--link:nth-of-type(3) {
    grid-row: 3 / 4;
}

.homeBody--link:hover {
    text-decoration: underline;
    font-size: 8vw;
    color: black;
}
.homeBody--link:focus {
    text-decoration: underline;
    font-size: 8vw;
    color: var(--dark);
    background: rgba(0,0,0,.2);
}
/* || button div*/
/* 
.menuBtn {
    color: white;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    border-width: .1rem;
    transition: .5s;
}

.menuBtn:hover,
.menuBtn:focus {
    color: black;
    border-color: black;
    padding: 1rem;
    display: flex;
    justify-self: stretch;
    flex: 1 1 100%;
    justify-content: center;
    transition: .5s;
}

.navButton--box {
    grid-row: 3 /4;
    grid-column: 1 / 2;
    box-sizing: border-box;
    align-self: flex-end;

} */
/* || Overlays || */

/* || media 450px Height screens*/
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
@media screen and (max-width: 500px) {
    .homeBody {
        display: flex;
        flex-direction: column;
    }
    .homeLogo {
        display: flex;
        flex-direction: row;
    }
    .svg--box {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 100px;
        box-sizing: content-box;
        background-color: rgba(0,0,0,.5);
        transition: .5s;
        border: solid .2em white;
    
    }
    .svg--box:hover{
        width: 150px;
    }
    svg {
        margin: 10px;
        position: absolute;
        height: 100px;
    }
    
}
