:root {
    --pink: #ffc3c3;
    --green: #719686;
    --dark: #400903;
    --gold: #c2911d;
}
body {
    /* font-family: 'Amita', cursive; */
    font-family: 'Josefin Sans', 'Montserrat', sans-serif;
    background-color: var(--pink);
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    height: 100vh;
    color: white;
}
.cute-box {
    border: solid .5rem white;
    border-radius: .5rem;
}
/*|| button nav stuff*/
.menuBtn {
    font-size: 30px;
    color: white;
    cursor: pointer;
    padding: .5rem;
    border: solid .1em white;
    text-decoration: none;
    background-color: rgba(0,0,0,0);
    transition: .5s;
    margin: 1em;
}
.overlay /*background*/{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /*fallback*/
    background-color: rgba(0,0,0,.9);
    overflow-x: hidden; /*disable hidden scroll*/
    transition: 0.5s; /*.5 second transition effect to slide in the overlay (h or w depending on reveal)*/
}
.overlay--content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: left;
    margin-top: 30px; /* for small screens*/
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: .3s;
}
.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* || main page */
.homeBody {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    box-sizing: border-box;
    padding: 1rem;
    /* border: solid .5rem white; */
    /* margin: 2rem; */
}

/* .homeBody > * {
    border: solid .5rem white;
} */

.homeLogo {
    grid-row: 1 / 4;
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 1em;
    padding: 3em;
    font-size: 2vw;
    font-weight: 100;
    /* border: solid .5rem white;
    border-radius: .5rem; This is handled by cute-box class!*/
}
.homeBody--link {
    font-size: 8vw; /* this is made larger in hover menu below*/
    font-style: italic;
    text-decoration: none;
    transition: .5s;
    color: white;
    box-sizing: border-box;
    padding: 15% 3rem;
    align-self: center;
}
.homeBody--link:hover {
    text-decoration: underline;
    font-size: 9vw;
    color: black;
}
.homeBody--link:focus {
    text-decoration: underline;
    font-size: 9vw;
    color: var(--dark);
    background: rgba(0,0,0,.2);
    justify-self: stretch;
}
/* || ALL buttons look at this*/
.menuBtn:hover,
.menuBtn:focus {
    color: black;
    border: solid .1rem black;
    padding: 1rem;
    display: flex;
    justify-self: stretch;
    flex: 1 1 100%;
    justify-content: center;
    transition: .5s;
}
/* || link navs should be aligned left line of grid*/
.homeBody--link:nth-of-type(1) {
    grid-row: 1 / 3;
    grid-column: 3 / 7; 
    justify-self: stretch;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.homeBody--link:nth-of-type(2)  {
    grid-row: 3 / 5;
    grid-column: 3 / 7;
    justify-self: stretch;
}
.homeBody--link:nth-of-type(3) {
    grid-row: 5 / 7;
    grid-column: 3 / 7;
    justify-self: stretch;
}
/* || grid properties for button div*/
.navButton--box {
margin: 0;
padding: 0;
grid-row: 5 / 7;
grid-column: 1 / 3;
display: flex;
align-items: center;
justify-content: flex-start;
}
/* || Overlays || */

/* || media 450px Height screens*/
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
@media screen and (max-width: 500px) {
    .homeBody {
        display: flex;
        flex-direction: column;
    }
    .homeLogo {
        display: flex;
        flex-direction: row;
    }
    .menuBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        left: 0;
        top: 95%;
        width: 3.5em;
        margin-top: -2.5em;
        font-size: 5vw;
    }
    
}
