
body {
    background: var(--green);
    min-height: 100vh;
}

img {
    width: 100px;
}
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.portObj {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    flex: 1 1 20%;
    margin: 1rem;
    padding: 1rem;
    transition: .5s;
}
/*this has to go before secret*/
portObj-child {
    display: flex;
    flex-direction: column;
    flex-direction: flex-start;
    align-items: center;
}
.portObj--secret {
   align-self: center;
}

/* .portObj:hover,
.portObj:focus {
    display: flex;
    display: visible;
    flex-direction: row;
    justify-content: center;
    flex: 1 1 50%;
} */

